* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  overflow-x: hidden;
  min-width: 1336px;
}

body {
  padding-right: 0px !important;
  width: 100%;
  height: 100%;
}

.el-breadcrumb__inner {
  color: #d0b2ed !important;
  font-weight: 600 !important;

}

.el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell {
  background: #f9e0f1;
}

.cell {
  text-align: center;
}

.box-card {
  margin-top: 10px;
  border: 3px solid lightgray;
  box-shadow: 5px 5px 3px lightgray !important;
}

.el-row {
  display: flex;
  align-items: center;
}

.el-tag.el-tag--light {
  background-color: #d0b2ed;
  color: white;
  font-weight: 600;
  margin-top: 5px;
  margin-right: 5px;

}

.el-tag--warning.el-tag--light {
  background-color: #e6a23c;

}

.el-tag--info.el-tag--light {
  background-color: #e9e9eb;
}

.el-tag--success.el-tag.el-tag--light {
  background-color: #8be5a6;
}

.el-tag--danger.el-tag.el-tag--light {
  background-color: #f56c6c;
}

.el-tag .el-tag__close {
  color: aliceblue !important;
}

::-webkit-scrollbar {
  /* width为0：隐藏竖向滚动条 */
  width: 0;
}

.el-cascader-node>.el-radio {
  display: none !important;
}

.el-pagination {
  display: flex;
  justify-content: center;
}